graft src/plone
graft docs
include *.rst
include .coveragerc
include .yarnrc
global-exclude *.pyc
include pyproject.toml
recursive-exclude news *
exclude news
exclude .prettierrc.json
exclude Makefile
exclude babel.config.js
exclude package.json
exclude requirements.txt
exclude webpack.config.js
exclude yarn.lock
