components/**/*.coffee
components/**/*.map
components/**/*.sass
components/**/*.scss
components/**/*.ts
components/**/*.yml
components/**/*bower.json
components/**/.*
components/**/Gemfile
components/**/Gruntfile.js
components/**/Makefile
components/**/coffeelint.json
components/**/component.json
components/**/examples
components/**/gulpfile.js
components/**/karma*
components/**/package.json
components/**/shims.json
components/**/test
components/**/tests
components/**/node_modules
components/**/demo
