.*
components/ace-builds/src-noconflict
components/ace-builds/src-min-noconflict
components/ace-builds/src-min
components/ace-builds/demo
components/ace-builds/textarea
components/react/docs
components/bootstrap/docs
components/jqtree/static
components/backbone/docs
components/backbone/test
tinymce-builded/tests
**/__tests__
**/node_modules
**/bower_components
**/test*
*.map
